@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000;
  min-height: 200vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

header.sticky {
  padding: 5px 100px;
  background: #000;
}

header .logo {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
}

header ul li a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
  
}

.banner {
  position: relative;
  width: 100%;
  height: 950vh;
  background-image: url(ash-edmond.jpg);
  background-size: 100%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  z-index: 1;
  text-align: center;
  width: 100%;
}

.animation {
  text-transform: uppercase;
  font-size: 3em;
  color: #fff;
  font-family: sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  display: inline-block;
  animation: slideIn 3s ease 0s 1 normal forwards;}

.first, .second {
  font-weight: 500;
  text-shadow: 5px 5px 8px #000000;}

.slide {
  display: inline-block;
  width: 0;
  height: 3px;
  background-color: none;
  animation: slideIn 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

