* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato";
    height: 100vh;
}

header {
    display: flex;
    height: 10%;
}

.site-title {
    background-color: yellow;
    flex-shrink: 0;
    width: 50%;}


.post-title {
    background-color: lightgreen;
    align-items: flex-start;
    flex: 1;

}

.post-meta {
    background-color: cornflowerblue;
    flex: 1;
}

.main-content {
    background-color: brown;
    flex: 1;
}

.main-content-img {
    background-color: orange;
    flex: 1;
    
}

.side-bar {
    background-color: gray;
    flex: 1;
}

.ads {
    background-color: navajowhite;
    flex: 1;
}

.other-stuff {
    background-color: goldenrod;
    flex: 1;
}

footer {
    background-color: royalblue;
    flex-direction: row;
    height: 10vh;    
}

ul {
    flex-direction: row;
    flex: 1;
    list-style-type: none;
    display: flex;
    
}

nav {
    background-color: pink;
    flex: 1;
    display: flex;
}

.pm {
    padding: 10px;
    border: 1px solid white;}
    
li{
        flex: 1;
    }

main {
    height: 80%;
    display: flex;
    flex-direction: row;
}

section {
    display: flex;
    flex-direction: column;
    flex: 6;
}

.section-post-container {
    display: flex;
    flex: 7     ;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    flex: 5; 
}

aside {
    display: flex;
    flex-direction: column;
    flex: 2;
}